.body {
    background: url("test1/image/vutru.gif");
    background-size: cover;


}
.avatar {
    width: 168px;
    height: 168px;
    border-radius: 50%; /*bo goc*/
}

.left_avt {

    height: auto;
}

.nav {
    position: absolute;
    top: 270px;
    width: 250px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: greenyellow;
}

li {
    display: inline;

}

hr {
    /*solid-color: blue;*/
}

* { /*sua mau, font chu*/
    color: darkred;
    font-family: 'Arima', cursive;

}

.relative {
    position: relative;
    top: -50px;

}

.left_sidebar {
    float: left;
    width: 50%;
    background: red;


}

.right_sidebar {
    float: right;
    width: 50%;
    background: blueviolet;

}
