.body {
    background: url("test1/image/vutru.gif");
    background-size: cover;
    /*text-align: center;*/
    width: 1200px;

}

.upper {
    background-color: whitesmoke;
    text-align: center;
}

.lower {
    background-color: yellow;
    text-align: center;
}


.avatar {
    width: 168px;
    height: 168px;
    border-radius: 50%; /*bo goc*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    /*background-color: greenyellow;*/
}

li {
    display: inline;
}

hr {
    border: 6px;
    solid-color: blue;
}

* { /*sua mau, font chu*/
    color: darkred;
    font-family: 'Arima', cursive;

}

.relative {
    position: relative;
    top: -50px;
}

.left_sidebar {
    float: left;
    width: 40%;
    /*background: red;*/
    /*border: 1px solid black;*/


}

.right_sidebar {
    float: right;
    width: 60%;
    /*background: blueviolet;*/
    /*border: 1px solid black;*/
}

table, tr, td, th {
    background-color: whitesmoke;
    width: 100%;
    border: 1px solid black;

}

td {
    width: 30px;
}
